body {
    margin: 0;
    padding: 0;
}
    canvas {
    width: 100%;
    height: 100%;
}

.range{
    height : 80px;
    width : 300px;
    background: #94b6ff;
    border-radius: 10px;
    padding : 0 65px 0 45px;
}
.range .field{
    position : relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100%;
}

.range .SliderValue{
    position : relative;
    width: 100%;
    text-align : center;
    font-weight : bold;
    color : #000000;
}

.range .SliderValue span{
    position: absolute;
    height: 45px;
    width: 45px;
    font-size : 24px;
    background: #2e1fff;
    color : #ffffff;
    border-radius : 50%;
    top : -40px;
    transform: translateX(-50%);
    line-height: 55px;
    z-index: 2;
}

.range .SliderValue span::after{
    content : '';
    position : absolute;
    width : 45px;
    height : 45px;
    background: #2e1fff;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid #fff;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.range .field .value{
    position : absolute;
    font-size : 18px;
    font-weight : bold;
    color : #ffffff;
}

.range .field .value.left{
    left : -40px;
}

.range .field .value.right{
    right : -40px;
}

.range .field input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: none;
}

.range .field input[type="range"]:hover {
    opacity: 1;
}

.range .field input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2e1fff;
    cursor: pointer;
}

.range .field input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2e1fff;
    cursor: pointer;
    border: none;
}